.srachBox {
    /* background-color: var(--color-primary); */
}

input {
    padding-right: 1.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    /* color: var(--tw-color-primary); */
    /* color: aqua; */
    /* --tw-placeholder-color: var(--color-primary); */
}
/* 
::placeholder {
  color: var(--color-primary);
} */